body {
  font-size: 8pt;
  line-height: 1;
  margin: 0;
}

.reveal section {
    font-size: 0.8em; /* Adjust font size for the content in each slide */
}

section {
  margin: 0;
  padding: 0;
  page-break-inside: avoid; /* Prevents page breaks within sections */
  page-break-before: auto; /* Ensures pages break only where necessary */
}

p, h1, h2, h3, h4, h5, h6, ul, ol {
  page-break-inside: avoid; /* Prevents page breaks within paragraphs and lists */
}

p{
    text-align: justify;
}

h4 {
    text-align: left;
    font-size: 0.5em;
}

.float-left {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.float-right {
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

.reveal .fragment {
    color: green; /* Set the text color to dark green */
}

img[alt=img] { width: 500px; length: 500px; float: right; margin-right: 20px; margin-bottom: 10px; }


em {
    font-style: italic;
    font-weight: bold;
    color: blue;
}

.reveal ul, .reveal ol {
    text-align: left;
    display: block;
    margin-left: 20px; /* Adjust this value as needed */
}

table {
    width: 100%;
    margin: 20px; /* Adjust this value as needed */
    border-collapse: collapse; /* Optional: to remove space between table cells */
}

table th, table td {
    padding: 10px; /* Adjust this value as needed */
    border: 1px solid #ddd; /* Optional: to add borders to table cells */
}

.reveal pre code {
    max-height: 700px;
}